@font-face {
  font-family: ka;
  src: url('/assets/fonts/ka1.ttf');
}

html, body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}
canvas {
  display: block;
}

.p5-normal {
  position: relative;
}